<% if current_user == @user %>
<h1>Hello, <%= @user.first_name  %>!</h1>
<H2>These are your bookings</H2>

<ul>
  <% @bookings.each do |booking| %>
    <li><%= link_to booking.item.title, item_path(booking.item) %> - From <%= booking.start_date %> to <%= booking.end_date %> -
    <%= button_to "❌", booking_path(booking), method: :delete %> -
    <%= link_to("Leave a review", new_booking_review_path(booking)) %>
  </li>
  <% end %>
</ul>
<% end %>

<H2> These are your items</H2>

<ul>
<% @items.each do |item| %>
  <li>
    <%= link_to item.title, item_path(item)  %>
    <%= item.description %>
    <%= link_to("Edit this item", edit_item_path(item)) %>
    <%= button_to "❌", item_path(item), method: :delete %>
  </li>
<% end %>
</ul>
