<h1 class="text-center mt-2">Add a new item</h1>
  <%= simple_form_for(@item) do |f| %>
    <%= f.input :title %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.association :category %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :price, input_html: {class:"w-25 align-self-end"}%>
    <%# <%= f.input :average_rating %>
    <div class="d-flex flex-column text-center form-actions px-4">
      <%= f.button :submit, "Post a new item!", class:"fw-bold btn-outline-danger align-self-center btn-outline-opacity-25 w-50" %>
    </div>
  <% end %>
</div>
