<h1 class="text-center mb-4">List of items</h1>
<div class="d-flex flex-row gap-2">
  <% @items.each do |item| %>
    <div class="card ">
      <p><strong><%= item.title %></strong></p>
      <p><strong>Location: </strong><%= item.location %></p>
      <%= link_to "Go to item page", item_path(item) %>
    </div>
  <% end %>
</ul>
</div>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
