<div class="container mt-5">
  <div class="trending col-12  ">
  <% @items.reverse.last(50).each do |item| %>
    <div class="card me-3 col-sm-12 col-md-3 shadow" id="border-radius">
    <%= link_to(item_path(item), class:"text-decoration-none rounded-3" ) do %>
      <% if item.photos.attached? %>
      <%= cl_image_tag(item.photos[0].key, class:"imagen") %>
      <% else %>
      <%= image_tag("https://tse2.mm.bing.net/th?id=OIP.uD9MRwwIK3xy2p_TYTYeegHaHa&pid=Api", class:"imagen") %>
      <% end %>
      <div class="big-bloc-infos">
        <div class="p-2">
          <div class="d-flex justify-content-between">
            <div class="flex-column">
              <p class="text-black text-start" id="small-size"><strong><%= item.title.capitalize %></strong></p>
              <p class="fs-5 text-secondary text-start"><%= item.price %>€ / day</p>
            </div>
              <% if item.user.photo.attached? %>
              <%=  cl_image_tag(item.user.photo.key, class:"avatar text-end")%>
              <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div id="map" class="shadow"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
