<h1>Add a new item</h1>

<%= simple_form_for(@item) do |f| %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.association :category %>
  <%= f.input :photo, as: :file %>
  <%# <%= f.input :average_rating %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to all items", items_path %>
