<div id="container">
  <div class="show-page">
    <div class="product-media">
      <div class="product-images">
      <% if @item.photos.attached? %>
        <div class="main-image">
          <%= cl_image_tag(@photo_array[0], id:"main-image") %>
        </div>
        <div class="side-images">
          <% @item.photos.each_with_index do |photo,index| %>
            <% if index!=0%>
          <%= cl_image_tag(photo.key, class:"side-image")%>
          <% end %>
          <% end %>
        </div>
      <% end %>
      </div>

        <div class="d-flex gap-3">
        <% if @item.user.photo.attached? %>
          <%= cl_image_tag(@item.user.photo.key, class:"avatar-large") %>
        <% else %>
        <% end %>
          <div class="flex-column">
            <h1><%= @item.user.first_name.upcase %></h1>
            <p><%= @item.user.description %></p>
          </div>
        </div>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1> <%= @item.title  %></h1>
        <p><%= @item.description %></p>
        <% if current_user == @item.user %>
          <p><%= link_to("Edit this item", edit_item_path) %>   <%= link_to "Delete", item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          </p>
        <% end %>
      </div>

      <div class="date-location">
        <div class="calender border p-2">
          <%= render "bookings/form"%>
        </div>
          <div class="mapbox">
            <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiYnJ1bnN3aWNrY2siLCJhIjoiY2xlaWhxNTAxMDFpeTNxbjRkb282aWF0NiJ9.UuVJl5eb8HTWiIm7yzstnQ'>
          </div>
      </div>
    </div>
  </div>

  <div>
    <% @reviews.each do |review| %>
      <p><%= review.content%> (<%= review.rating %>/5)</p>
    <% end %>
  </div>
</div>
