<div id="container">
  <div class="show-page">
    <div class="row justify-content-center">

      <div class="col-8">
        <div class="carousel-wrapper">
          <%= render 'carousel', item: @item, photo_array: @photo_array %>
        </div>
      </div>

      <div class="date-product col-4">

        <div class="product-text">
          <h1> <%= @item.title  %></h1>
          <p><%= @item.description %></p>
          <% if current_user == @item.user %>
            <p><%= link_to("Edit this item", edit_item_path) %>   <%= link_to "Delete", item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            </p>
          <% end %>
        </div>

        <div class="calender border p-1">
          <h3>Rent it now!</h3>
          <%= render "bookings/form"%>
        </div>

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6 d-flex gap-3">
        <% if @item.user.photo.attached? %>
          <%= cl_image_tag(@item.user.photo.key, class:"avatar-large") %>
        <% else %>
        <% end %>
          <div class="flex-column">
            <h1><%= @item.user.first_name.upcase %></h1>
            <p><%= @item.user.description %></p>
          </div>
      </div>

      <div class="map-show-page col-6"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>

    <div class="row">
      <% @reviews.each do |review| %>
        <p><%= review.content%> (<%= review.rating %>/5)</p>
      <% end %>
    </div>

  </div>
</div>
